- 
  const infos = {
    uppercaseFileName: 'Migration',
    lowercaseFileName: 'migration',
    date: 'Aug 31, 2021',
    navs: {
      pre: 'breathing',
      cur: '#005',
      next: 'blooming'
    },
    codepen: 'jOwOYXK',
  };

doctype html
html(lang="en", prefix="og: http://ogp.me/ns#")
  head
    meta(property="og:url", content=`https://toshiya-marukubo.github.io/study-of-webgl/works/${infos.lowercaseFileName}.html`)
    meta(property="og:title", content=`Toshiya Marukubo | Study of WebGL | ${infos.uppercaseFileName}`)
    title Toshiya Marukubo | Study of WebGL | #{infos.uppercaseFileName}
    include ../modules/head-not-included-variable.pug  
  body(style="background: #000")
    include ../modules/loading.pug
    .body-container
      .content
        h1
          a(href="../index.html") TM
        .works-description
          h2 #{infos.uppercaseFileName}
          p #{infos.date}
        .question
          a(href="#", role="button")
            svg.feather.feather-help-circle(role="img", aria-label="Question Button Image", xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
              circle(cx="12", cy="12", r="10")
              path(d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3")
              line(x1="12", y1="17", x2="12.01", y2="17")
        //-
        //- description
        //-
        .what(aria-live="assertive")
          h3 What&apos;s this?
          p I tried to use gpgpu and simplex noise.
          h4 References
          ol
            li
              a(href="https://gist.github.com/patriciogonzalezvivo/670c22f3966e662d2f83", target="_blank", rel="noopener")
                | Git Hub | patriciogonzalezvivo | GLSL-Noise.md - Simplex Noise.
            li
              a(href="https://qiita.com/uma6661/items/20accc9b5fb9845fc73a", target="_blank", rel="noopener")
                | Qiita | Three.jsのGPGPUのサンプルが難しすぎるから解体して勉強してみる - How to use GPUComputationRenderer.
            li
              a(href="https://wgld.org/d/webgl/w083.html", target="_blank", rel="noopener")
                | wgld.org | GPGPU でパーティクルを大量に描く - About GPGPU.
          h4 Libraries
          ol
            li
              a(href="https://threejs.org/", target="_blank", rel="noopener") Three.js
          //-
          //- end description
          //-
          h4 Code
          ol
            li
              a(href=`https://codepen.io/toshiya-marukubo/pen/${infos.codepen}`, target="_blank", rel="noopener") CodePen
            li
              a(href=`https://github.com/toshiya-marukubo/toshiya-marukubo.github.io/tree/main/src/scripts/pages/study-of-webgl/works/${infos.lowercaseFileName}/`) GitHub
          .close
            a(href="#", role="button")
              svg.feather.feather-x(role="img", aria-label="Close Button Image", xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                line(x1="18", y1="6", x2="6", y2="18")
                line(x1="6", y1="6", x2="18", y2="18")
        .nav
          ul
            li.prev
              a(href=`./${infos.navs.pre}.html`)
                span(aria-label="Previous Page") &lt;
            li.cur #{infos.navs.cur}
            li.next
              a(href=`./${infos.navs.next}.html`)
                span(aria-label="Next Page") &gt;
        .back
          a(href="../index.html")
            svg.feather.feather-arrow-left-circle(role="img", aria-label="Back to Home Image", xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
              circle(cx="12", cy="12", r="10")
              polyline(points="12 8 8 12 12 16")
              line(x1="16", y1="12", x2="8", y2="12")
        .frame-top-right
        .frame-bottom-left
    script(defer, src=`../../dist/js/${infos.lowercaseFileName}.bundle.js`)
